# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
rewrite
/src/main/java/com/invadermonky/pickuplimit/util/zen/
/docs/groovyscript/cleanroom-website/
